{{#.}}
    <div class="col s12 m6 l4 padding-small" id="card-job-{{id}}">
        <div class="card overflow-hidden radius hover-shadow">
            <a href="job/{{id}}" data-animation="forward" data-target="#dashboard"
               class="col padding-bottom overflow-hidden" style="height: 100px;">
                <img src="{{imagem}}" class="transition-easy" style="height: auto;width: auto;max-height: 100px;margin: auto;float: initial;display: block;"/>
            </a>

            <h1 class="padding-large col font-large font-bold color-text-gray upper padding-16 align-center"
                style="height: 70px;overflow: hidden;">{{nome_da_atividade}}</h1>

            <div class="col padding-large text-uppercase color-text-gray overflow-hidden" style="height: 40px;">
                {{^entregue}}
                    <div class="col s9" style="border-color: #eee!important;">
                        {{#isInPrazo}}
                            <div class="left">Prazo {{prazo_em_dias}} dias</div>
                            <div class="left padding-tiny"><div class="badge theme radius">{{#isUx}}Design{{/isUx}}{{#isFront}}Front-end{{/isFront}}</div></div>
                        {{/isInPrazo}}
                        {{^isInPrazo}}
                            <i class="material-icons left pointer"
                               title="Atrasos geram multa, não atrase muito, senão você não recebe nada!">info</i>
                            <div class="color-text-red left padding-tiny">Atrasado!</div>
                            <div class="left padding-tiny"><div class="badge theme radius">{{#isUx}}Design{{/isUx}}{{#isFront}}Front-end{{/isFront}}</div></div>
                        {{/isInPrazo}}
                    </div>
                    <div class="col s3 align-right">
                        R${{valor}}
                    </div>

                {{/entregue}}
                {{#entregue}}
                    <div class="col s9">
                        <div class="left">Entregue!</div>
                        <div class="left padding-left"><div class="badge {{#isUx}}color-red{{/isUx}}{{#isFront}}color-green{{/isFront}} radius">{{#isUx}}Design{{/isUx}}{{#isFront}}Front-end{{/isFront}}</div></div>
                    </div>
                    <div class="col s3 align-right">
                        R${{valor_de_entrega}}
                    </div>
                {{/entregue}}
            </div>

            <div class="col padding-medium">
                <div class="col border-top" style="border-color: #eee!important;">
                    <div class="col padding-4"></div>
                    {{^entregue}}
                        {{#isStarted}}
                            <a href="job/{{id}}" data-animation="forward" data-target="#dashboard"
                               class="left radius theme-hover transition-fast font-bold color-text-gray color-hover-text-white padding-xlarge">Acessar</a>
                            <div onclick="cancelar({{id}})"
                                    class="color-hover-red-pale right margin-0 padding-xlarge color-text-gray pointer radius">Cancelar
                            </div>
                        {{/isStarted}}
                        {{^isStarted}}
                            <a href="job/{{id}}" data-animation="forward" data-target="#dashboard"
                               class="left radius theme-hover transition-fast font-bold color-text-gray color-hover-text-white padding-xlarge">Saiba mais</a>
                            <div onclick="cancelar({{id}})"
                                    class="right margin-0 color-hover-red-pale radius padding-xlarge color-text-gray pointer">
                                Não, obrigado
                            </div>
                        {{/isStarted}}
                    {{/entregue}}
                    {{#entregue}}
                        <a href="job/{{id}}" data-animation="forward" data-target="#dashboard"
                           class="align-center font-bold upper theme-text-d opacity hover-opacity-off padding-16 col">Acessar Revisão</a>
                    {{/entregue}}
                </div>
            </div>
        </div>
    </div>
{{/.}}